# Ignorar a pasta node_modules em ambos os diretórios
node_modules/
client/node_modules/
server/node_modules/

# Ignorar arquivos de ambiente em ambos os diretórios
.env
.env.local
.env.*.local
client/.env
client/.env.local
client/.env.*.local
server/.env
server/.env.local
server/.env.*.local

# Ignorar build do Next.js no frontend
client/.next/

# Ignorar arquivos de build do Express no backend (caso haja uma pasta build/dist)
server/dist/
server/build/

# Logs
logs/
*.log
client/logs/
server/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outras configurações específicas do sistema operacional
.DS_Store          # macOS
Thumbs.db          # Windows
.idea/             # Configurações do IDE (IntelliJ, WebStorm)
.vscode/           # Configurações do Visual Studio Code

# Outras pastas de cache ou arquivos temporários
client/out/
server/out/
